## Packages

In [1]:
import pandas as pd
import gdown

## Reading the dataset

In [2]:
import gdown
file_id = '1aRun47rwwScBrdvnjWONCUFsJ7rzGeQC'
gdown.download(id=file_id, output='HR_dataset.csv')
df = pd.read_csv('HR_dataset.csv')

Downloading...
From: https://drive.google.com/uc?id=1aRun47rwwScBrdvnjWONCUFsJ7rzGeQC
To: /content/HR_dataset.csv
100%|██████████| 76.9k/76.9k [00:00<00:00, 57.2MB/s]

## EDA - Exploratory Data Analysis

In [3]:
df.shape

(311, 36)

In [4]:
pd.set_option("display.max_columns", None)

In [5]:
df.head()

,Employee_Name,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,Termd,PositionID,Position,State,Zip,DOB,Sex,MaritalDesc,CitizenDesc,HispanicLatino,RaceDesc,DateofHire,DateofTermination,TermReason,EmploymentStatus,Department,ManagerName,ManagerID,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30,Absences
0,"Adinolfi, Wilson K",10026,0,0,1,1,5,4,0,62506,0,19,Production Technician I,MA,1960,07/10/83,M,Single,US Citizen,No,White,7/5/2011,NaN,N/A-StillEmployed,Active,Production,Michael Albert,22.0,LinkedIn,Exceeds,4.60,5,0,1/17/2019,0,1
1,"Ait Sidi, Karthikeyan",10084,1,1,1,5,3,3,0,104437,1,27,Sr. DBA,MA,2148,05/05/75,M,Married,US Citizen,No,White,3/30/2015,6/16/2016,career change,Voluntarily Terminated,IT/IS,Simon Roup,4.0,Indeed,Fully Meets,4.96,3,6,2/24/2016,0,17
2,"Akinkuolie, Sarah",10196,1,1,0,5,5,3,0,64955,1,20,Production Technician II,MA,1810,09/19/88,F,Married,US Citizen,No,White,7/5/2011,9/24/2012,hours,Voluntarily Terminated,Production,Kissy Sullivan,20.0,LinkedIn,Fully Meets,3.02,3,0,5/15/2012,0,3
3,"Alagbe,Trina",10088,1,1,0,1,5,3,0,64991,0,19,Production Technician I,MA,1886,09/27/88,F,Married,US Citizen,No,White,1/7/2008,NaN,N/A-StillEmployed,Active,Production,Elijiah Gray,16.0,Indeed,Fully Meets,4.84,5,0,1/3/2019,0,15
4,"Anderson, Carol",10069,0,2,0,5,5,3,0,50825,1,19,Production Technician I,MA,2169,09/08/89,F,Divorced,US Citizen,No,White,7/11/2011,9/6/2016,return to school,Voluntarily Terminated,Production,Webster Butler,39.0,Google Search,Fully Meets,5.00,4,0,2/1/2016,0,2

In [6]:
df.columns

Index(['Employee_Name', 'EmpID', 'MarriedID', 'MaritalStatusID', 'GenderID',
       'EmpStatusID', 'DeptID', 'PerfScoreID', 'FromDiversityJobFairID',
       'Salary', 'Termd', 'PositionID', 'Position', 'State', 'Zip', 'DOB',
       'Sex', 'MaritalDesc', 'CitizenDesc', 'HispanicLatino', 'RaceDesc',
       'DateofHire', 'DateofTermination', 'TermReason', 'EmploymentStatus',
       'Department', 'ManagerName', 'ManagerID', 'RecruitmentSource',
       'PerformanceScore', 'EngagementSurvey', 'EmpSatisfaction',
       'SpecialProjectsCount', 'LastPerformanceReview_Date', 'DaysLateLast30',
       'Absences'],
      dtype='object')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 311 entries, 0 to 310
Data columns (total 36 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Employee_Name               311 non-null    object
 1   EmpID                       311 non-null    int64
 2   MarriedID                   311 non-null    int64
 3   MaritalStatusID             311 non-null    int64
 4   GenderID                    311 non-null    int64
 5   EmpStatusID                 311 non-null    int64
 6   DeptID                      311 non-null    int64
 7   PerfScoreID                 311 non-null    int64
 8   FromDiversityJobFairID      311 non-null    int64
 9   Salary                      311 non-null    int64
 10  Termd                       311 non-null    int64
 11  PositionID                  311 non-null    int64
 12  Position                    311 non-null    object
 13  State                       311 non-null    object
 14  Zip                         311 non-null    int64
 15  DOB                         311 non-null    object
 16  Sex                         311 non-null    object
 17  MaritalDesc                 311 non-null    object
 18  CitizenDesc                 311 non-null    object
 19  HispanicLatino              311 non-null    object
 20  RaceDesc                    311 non-null    object
 21  DateofHire                  311 non-null    object
 22  DateofTermination           104 non-null    object
 23  TermReason                  311 non-null    object
 24  EmploymentStatus            311 non-null    object
 25  Department                  311 non-null    object
 26  ManagerName                 311 non-null    object
 27  ManagerID                   303 non-null    float64
 28  RecruitmentSource           311 non-null    object
 29  PerformanceScore            311 non-null    object
 30  EngagementSurvey            311 non-null    float64
 31  EmpSatisfaction             311 non-null    int64
 32  SpecialProjectsCount        311 non-null    int64
 33  LastPerformanceReview_Date  311 non-null    object
 34  DaysLateLast30              311 non-null    int64
 35  Absences                    311 non-null    int64
dtypes: float64(2), int64(16), object(18)
memory usage: 87.6+ KB

In [8]:
df.describe()

,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,Termd,PositionID,Zip,ManagerID,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,DaysLateLast30,Absences
count,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,303.000000,311.000000,311.000000,311.000000,311.000000,311.000000
mean,10156.000000,0.398714,0.810289,0.434084,2.392283,4.610932,2.977492,0.093248,69020.684887,0.334405,16.845659,6555.482315,14.570957,4.110000,3.890675,1.218650,0.414791,10.237942
std,89.922189,0.490423,0.943239,0.496435,1.794383,1.083487,0.587072,0.291248,25156.636930,0.472542,6.223419,16908.396884,8.078306,0.789938,0.909241,2.349421,1.294519,5.852596
min,10001.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,45046.000000,0.000000,1.000000,1013.000000,1.000000,1.120000,1.000000,0.000000,0.000000,1.000000
25%,10078.500000,0.000000,0.000000,0.000000,1.000000,5.000000,3.000000,0.000000,55501.500000,0.000000,18.000000,1901.500000,10.000000,3.690000,3.000000,0.000000,0.000000,5.000000
50%,10156.000000,0.000000,1.000000,0.000000,1.000000,5.000000,3.000000,0.000000,62810.000000,0.000000,19.000000,2132.000000,15.000000,4.280000,4.000000,0.000000,0.000000,10.000000
75%,10233.500000,1.000000,1.000000,1.000000,5.000000,5.000000,3.000000,0.000000,72036.000000,1.000000,20.000000,2355.000000,19.000000,4.700000,5.000000,0.000000,0.000000,15.000000
max,10311.000000,1.000000,4.000000,1.000000,5.000000,6.000000,4.000000,1.000000,250000.000000,1.000000,30.000000,98052.000000,39.000000,5.000000,5.000000,8.000000,6.000000,20.000000

In [9]:
df['ManagerName'].unique()

array(['Michael Albert', 'Simon Roup', 'Kissy Sullivan', 'Elijiah Gray',
       'Webster Butler', 'Amy Dunn', 'Alex Sweetwater', 'Ketsia Liebig',
       'Brannon Miller', 'Peter Monroe', 'David Stanley', 'Kelley Spirea',
       'Brandon R. LeBlanc', 'Janet King', 'John Smith',
       'Jennifer Zamora', 'Lynn Daneault', 'Eric Dougall',
       'Debra Houlihan', 'Brian Champaigne', 'Board of Directors'],
      dtype=object)

In [10]:
columns_to_drop = [
    'Employee_Name', 'EmpID', 'Zip', 'DOB', 'PositionID',
    'DeptID', 'ManagerName', 'ManagerID', 'LastPerformanceReview_Date',
    'GenderID', 'MarriedID', 'MaritalStatusID', 'PerfScoreID', 'EmpStatusID',
    'HispanicLatino'
]
df = df.drop(columns=columns_to_drop)
df.shape

(311, 21)

In [11]:
df.columns

Index(['FromDiversityJobFairID', 'Salary', 'Termd', 'Position', 'State', 'Sex',
       'MaritalDesc', 'CitizenDesc', 'RaceDesc', 'DateofHire',
       'DateofTermination', 'TermReason', 'EmploymentStatus', 'Department',
       'RecruitmentSource', 'PerformanceScore', 'EngagementSurvey',
       'EmpSatisfaction', 'SpecialProjectsCount', 'DaysLateLast30',
       'Absences'],
      dtype='object')

In [12]:
df.isnull().sum()

FromDiversityJobFairID      0
Salary                      0
Termd                       0
Position                    0
State                       0
Sex                         0
MaritalDesc                 0
CitizenDesc                 0
RaceDesc                    0
DateofHire                  0
DateofTermination         207
TermReason                  0
EmploymentStatus            0
Department                  0
RecruitmentSource           0
PerformanceScore            0
EngagementSurvey            0
EmpSatisfaction             0
SpecialProjectsCount        0
DaysLateLast30              0
Absences                    0
dtype: int64

In [13]:
df['DateofTermination'].unique()

array([nan, '6/16/2016', '9/24/2012', '9/6/2016', '1/12/2017',
       '9/19/2016', '4/6/2017', '8/4/2017', '9/12/2015', '4/4/2014',
       '2/19/2016', '8/7/2014', '6/15/2013', '8/2/2014', '11/15/2015',
       '1/7/2013', '9/26/2011', '9/23/2016', '6/8/2016', '11/4/2015',
       '6/6/2017', '9/27/2018', '2/25/2018', '6/5/2013', '5/17/2016',
       '6/24/2013', '1/9/2013', '8/19/2018', '11/15/2016', '9/5/2015',
       '6/25/2015', '3/15/2015', '5/30/2011', '1/11/2014', '10/31/2014',
       '12/15/2015', '6/18/2013', '4/7/2012', '4/15/2015', '4/1/2013',
       '4/29/2018', '4/1/2016', '4/24/2014', '6/4/2015', '1/9/2014',
       '12/12/2015', '3/31/2014', '4/15/2013', '9/26/2018', '9/15/2016',
       '11/14/2015', '9/26/2017', '8/19/2012', '11/11/2016', '9/4/2014',
       '5/25/2016', '5/1/2018', '8/19/2013', '1/12/2014', '9/7/2015',
       '5/1/2016', '12/28/2017', '9/15/2015', '10/25/2015', '2/4/2013',
       '5/18/2016', '11/30/2012', '6/4/2018', '8/15/2015', '4/7/2018',
       '1/15/2016', '10/22/2011', '2/8/2012', '1/26/2016', '11/10/2018',
       '8/13/2018', '7/30/2018', '10/31/2015', '4/8/2015', '9/25/2013',
       '6/29/2015', '7/8/2017', '9/5/2016', '8/30/2010', '2/12/2016',
       '4/15/2018', '7/2/2014', '2/5/2016', '2/22/2017', '2/8/2016',
       '1/2/2012', '9/1/2015', '5/15/2014', '5/14/2012', '6/27/2015',
       '2/21/2016', '9/29/2015'], dtype=object)

In [14]:
# df['DateofTermination'].fillna('Still Active', inplace=True)
df['DateofTermination'] = pd.to_datetime(df['DateofTermination'], errors='coerce')

In [15]:
df['DateofTermination'].unique()

<DatetimeArray>
[                'NaT', '2016-06-16 00:00:00', '2012-09-24 00:00:00',
 '2016-09-06 00:00:00', '2017-01-12 00:00:00', '2016-09-19 00:00:00',
 '2017-04-06 00:00:00', '2017-08-04 00:00:00', '2015-09-12 00:00:00',
 '2014-04-04 00:00:00', '2016-02-19 00:00:00', '2014-08-07 00:00:00',
 '2013-06-15 00:00:00', '2014-08-02 00:00:00', '2015-11-15 00:00:00',
 '2013-01-07 00:00:00', '2011-09-26 00:00:00', '2016-09-23 00:00:00',
 '2016-06-08 00:00:00', '2015-11-04 00:00:00', '2017-06-06 00:00:00',
 '2018-09-27 00:00:00', '2018-02-25 00:00:00', '2013-06-05 00:00:00',
 '2016-05-17 00:00:00', '2013-06-24 00:00:00', '2013-01-09 00:00:00',
 '2018-08-19 00:00:00', '2016-11-15 00:00:00', '2015-09-05 00:00:00',
 '2015-06-25 00:00:00', '2015-03-15 00:00:00', '2011-05-30 00:00:00',
 '2014-01-11 00:00:00', '2014-10-31 00:00:00', '2015-12-15 00:00:00',
 '2013-06-18 00:00:00', '2012-04-07 00:00:00', '2015-04-15 00:00:00',
 '2013-04-01 00:00:00', '2018-04-29 00:00:00', '2016-04-01 00:00:00',
 '2014-04-24 00:00:00', '2015-06-04 00:00:00', '2014-01-09 00:00:00',
 '2015-12-12 00:00:00', '2014-03-31 00:00:00', '2013-04-15 00:00:00',
 '2018-09-26 00:00:00', '2016-09-15 00:00:00', '2015-11-14 00:00:00',
 '2017-09-26 00:00:00', '2012-08-19 00:00:00', '2016-11-11 00:00:00',
 '2014-09-04 00:00:00', '2016-05-25 00:00:00', '2018-05-01 00:00:00',
 '2013-08-19 00:00:00', '2014-01-12 00:00:00', '2015-09-07 00:00:00',
 '2016-05-01 00:00:00', '2017-12-28 00:00:00', '2015-09-15 00:00:00',
 '2015-10-25 00:00:00', '2013-02-04 00:00:00', '2016-05-18 00:00:00',
 '2012-11-30 00:00:00', '2018-06-04 00:00:00', '2015-08-15 00:00:00',
 '2018-04-07 00:00:00', '2016-01-15 00:00:00', '2011-10-22 00:00:00',
 '2012-02-08 00:00:00', '2016-01-26 00:00:00', '2018-11-10 00:00:00',
 '2018-08-13 00:00:00', '2018-07-30 00:00:00', '2015-10-31 00:00:00',
 '2015-04-08 00:00:00', '2013-09-25 00:00:00', '2015-06-29 00:00:00',
 '2017-07-08 00:00:00', '2016-09-05 00:00:00', '2010-08-30 00:00:00',
 '2016-02-12 00:00:00', '2018-04-15 00:00:00', '2014-07-02 00:00:00',
 '2016-02-05 00:00:00', '2017-02-22 00:00:00', '2016-02-08 00:00:00',
 '2012-01-02 00:00:00', '2015-09-01 00:00:00', '2014-05-15 00:00:00',
 '2012-05-14 00:00:00', '2015-06-27 00:00:00', '2016-02-21 00:00:00',
 '2015-09-29 00:00:00']
Length: 97, dtype: datetime64[ns]

In [16]:
# Showing unique values of object type columns
object_cols = df.select_dtypes(include='object').columns
for col in object_cols:
  unique_values = df[col].unique()
  print(f"Unique values in column {col}:")
  print(unique_values)
  print("-"*30)

Unique values in column Position:
['Production Technician I' 'Sr. DBA' 'Production Technician II'
 'Software Engineer' 'IT Support' 'Data Analyst' 'Database Administrator'
 'Enterprise Architect' 'Sr. Accountant' 'Production Manager'
 'Accountant I' 'Area Sales Manager' 'Software Engineering Manager'
 'BI Director' 'Director of Operations' 'Sr. Network Engineer'
 'Sales Manager' 'BI Developer' 'IT Manager - Support' 'Network Engineer'
 'IT Director' 'Director of Sales' 'Administrative Assistant'
 'President & CEO' 'Senior BI Developer' 'Shared Services Manager'
 'IT Manager - Infra' 'Principal Data Architect' 'Data Architect'
 'IT Manager - DB' 'Data Analyst ' 'CIO']
------------------------------
Unique values in column State:
['MA' 'TX' 'CT' 'VA' 'VT' 'AL' 'WA' 'CA' 'OH' 'IN' 'TN' 'NH' 'RI' 'PA'
 'CO' 'NY' 'UT' 'GA' 'FL' 'NC' 'KY' 'ID' 'NV' 'MT' 'OR' 'ND' 'AZ' 'ME']
------------------------------
Unique values in column Sex:
['M ' 'F']
------------------------------
Unique values in column MaritalDesc:
['Single' 'Married' 'Divorced' 'Widowed' 'Separated']
------------------------------
Unique values in column CitizenDesc:
['US Citizen' 'Eligible NonCitizen' 'Non-Citizen']
------------------------------
Unique values in column RaceDesc:
['White' 'Black or African American' 'Two or more races' 'Asian'
 'American Indian or Alaska Native' 'Hispanic']
------------------------------
Unique values in column DateofHire:
['7/5/2011' '3/30/2015' '1/7/2008' '7/11/2011' '1/9/2012' '11/10/2014'
 '9/30/2013' '7/6/2009' '1/5/2015' '1/10/2011' '4/2/2012' '2/20/2012'
 '9/24/2012' '2/21/2011' '7/21/2016' '4/4/2011' '7/7/2014' '7/8/2013'
 '8/19/2013' '2/17/2014' '2/16/2015' '10/27/2008' '9/29/2014' '11/11/2013'
 '8/15/2011' '3/5/2012' '1/28/2016' '3/31/2014' '6/30/2016' '8/18/2014'
 '9/6/2016' '5/12/2014' '5/14/2012' '6/27/2011' '10/3/2011' '9/5/2012'
 '5/16/2011' '8/30/2010' '7/6/2016' '7/20/2010' '1/5/2009' '5/5/2014'
 '7/2/2012' '11/7/2011' '7/9/2018' '2/15/2017' '1/7/2013' '1/5/2014'
 '9/18/2014' '4/26/2010' '5/2/2011' '5/11/2015' '4/15/2011' '9/6/2011'
 '5/1/2010' '6/2/2015' '4/20/2017' '3/7/2012' '11/28/2011' '8/13/2012'
 '6/6/2016' '6/5/2015' '11/5/2012' '1/6/2014' '9/26/2011' '3/7/2011'
 '7/9/2012' '10/2/2016' '1/5/2016' '4/30/2012' '1/21/2011' '5/11/2016'
 '5/31/2011' '8/16/2012' '2/15/2012' '5/13/2013' '4/1/2013' '2/10/2017'
 '2/7/2011' '12/1/2014' '10/25/2010' '11/5/2007' '1/7/2017' '1/20/2013'
 '7/4/2016' '9/30/2014' '5/1/2015' '10/26/2009' '5/18/2014' '6/10/2011'
 '10/2/2012' '9/27/2010' '1/8/2009' '4/27/2009' '6/25/2007' '2/18/2013'
 '1/9/2006' '8/1/2011' '7/5/2015' '9/2/2008' '4/10/2010']
------------------------------
Unique values in column TermReason:
['N/A-StillEmployed' 'career change' 'hours' 'return to school'
 'Another position' 'unhappy' 'attendance' 'performance'
 'Learned that he is a gangster' 'retiring' 'relocation out of area'
 'more money' 'military' 'no-call, no-show' 'Fatal attraction'
 'maternity leave - did not return' 'medical issues' 'gross misconduct']
------------------------------
Unique values in column EmploymentStatus:
['Active' 'Voluntarily Terminated' 'Terminated for Cause']
------------------------------
Unique values in column Department:
['Production       ' 'IT/IS' 'Software Engineering' 'Admin Offices'
 'Sales' 'Executive Office']
------------------------------
Unique values in column RecruitmentSource:
['LinkedIn' 'Indeed' 'Google Search' 'Employee Referral'
 'Diversity Job Fair' 'On-line Web application' 'CareerBuilder' 'Website'
 'Other']
------------------------------
Unique values in column PerformanceScore:
['Exceeds' 'Fully Meets' 'Needs Improvement' 'PIP']
------------------------------

In [17]:
df['DateofTermination'].dtype

dtype('<M8[ns]')

## Preprocessing

In [18]:
# Define categories
categories = {
    'Engineering': ['Software Engineer', 'Software Engineering Manager'],
    'IT': ['IT Support', 'Sr. DBA', 'Database Administrator', 'Enterprise Architect',
           'BI Developer', 'Senior BI Developer', 'Principal Data Architect',
           'Data Architect', 'IT Manager - Support', 'Network Engineer',
           'IT Director', 'IT Manager - Infra', 'IT Manager - DB', 'CIO'],
    'Finance': ['Sr. Accountant', 'Accountant I'],
    'Sales': ['Area Sales Manager', 'Sales Manager', 'Director of Sales'],
    'Administration': ['Administrative Assistant', 'Shared Services Manager'],
    'Prodcution': ['Production Technician I', 'Production Technician II', 'Production Manager'],
    'Leadership': ['President & CEO', 'Director of Operations', 'BI Director']
}

# Function to categorize jobs
def categorize_job(title):
    for category, titles in categories.items():
        if title in titles:
            return category
    return 'Other'

# Create a new column
df['Category'] = df['Position'].apply(categorize_job)

In [19]:
df[['Position', 'Category']]

                     Position    Category
0     Production Technician I  Prodcution
1                     Sr. DBA          IT
2    Production Technician II  Prodcution
3     Production Technician I  Prodcution
4     Production Technician I  Prodcution
..                        ...         ...
306  Production Technician II  Prodcution
307   Production Technician I  Prodcution
308                       CIO          IT
309              Data Analyst       Other
310   Production Technician I  Prodcution

[311 rows x 2 columns]

In [20]:
df = df.rename(columns={'Category': 'Job Category'})

In [21]:
# State abbreviation to full name mapping
state_mapping = {
    'AL': 'Alabama',
    'AK': 'Alaska',
    'AZ': 'Arizona',
    'AR': 'Arkansas',
    'CA': 'California',
    'CO': 'Colorado',
    'CT': 'Connecticut',
    'DE': 'Delaware',
    'FL': 'Florida',
    'GA': 'Georgia',
    'HI': 'Hawaii',
    'ID': 'Idaho',
    'IL': 'Illinois',
    'IN': 'Indiana',
    'IA': 'Iowa',
    'KS': 'Kansas',
    'KY': 'Kentucky',
    'LA': 'Louisiana',
    'ME': 'Maine',
    'MD': 'Maryland',
    'MA': 'Massachusetts',
    'MI': 'Michigan',
    'MN': 'Minnesota',
    'MS': 'Mississippi',
    'MO': 'Missouri',
    'MT': 'Montana',
    'NE': 'Nebraska',
    'NV': 'Nevada',
    'NH': 'New Hampshire',
    'NJ': 'New Jersey',
    'NM': 'New Mexico',
    'NY': 'New York',
    'NC': 'North Carolina',
    'ND': 'North Dakota',
    'OH': 'Ohio',
    'OK': 'Oklahoma',
    'OR': 'Oregon',
    'PA': 'Pennsylvania',
    'RI': 'Rhode Island',
    'SC': 'South Carolina',
    'SD': 'South Dakota',
    'TN': 'Tennessee',
    'TX': 'Texas',
    'UT': 'Utah',
    'VT': 'Vermont',
    'VA': 'Virginia',
    'WA': 'Washington',
    'WV': 'West Virginia',
    'WI': 'Wisconsin',
    'WY': 'Wyoming'
}

df['State'] = df['State'].replace(state_mapping)

In [22]:
df['State'].unique()

array(['Massachusetts', 'Texas', 'Connecticut', 'Virginia', 'Vermont',
       'Alabama', 'Washington', 'California', 'Ohio', 'Indiana',
       'Tennessee', 'New Hampshire', 'Rhode Island', 'Pennsylvania',
       'Colorado', 'New York', 'Utah', 'Georgia', 'Florida',
       'North Carolina', 'Kentucky', 'Idaho', 'Nevada', 'Montana',
       'Oregon', 'North Dakota', 'Arizona', 'Maine'], dtype=object)

## Save Final Dataset

In [23]:
df.to_csv('cleaned_hr_data.csv', index=False)